body, html {
	width: 100%; height: 100%;
	margin: 0;
}

body {
	background-image: url('images/tapestry_forest.jpg');
	background-size: 100%;
	background-position: fixed;
}

a.home {
	position: absolute;
	left: 10px;
	top: 8px;
	z-index: 1000;
	font-size: 1.75rem;
	font-weight: bold;
	background: #c29f6f;
	padding: .15em .25em;
	color: #21120c;
}

main {
	position: relative;
	width: 100%; height: 100%;
}

main:after {
	content: '';
	position: absolute;
	width: 100%; height: 100%;
	background: #704c2e;
	opacity: 0.3;
	mix-blend-mode: color;
	pointer-events: none;
}

main img {
	position: absolute;
	filter: drop-shadow(4px 4px 3px #21120c77);
	user-select: none;
}