body, html {
	width: 100%; height: 100%;
	margin: 0;
}

body {
	background-image: url('images/tapestry_forest.jpg');
	background-size: 100vw 100vh;
	background-position: top left;
	background-attachment: fixed;
}

a.home {
	position: absolute;
	z-index: 1000;
	color: #21120c;
	left: 20px; top: 20px;
}
nav a.home:hover img {
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 10px #fff8df);
}

#intro {
	position: absolute;
	z-index: 900;
	left: 375px; top: 170px;
	display: block;
	font-family: "Victorian Parlor", serif;
	font-size: 40px;
	color: #47341a;
	background: #fff8df;
	img {
		left: -210px; top: -110px;
	}
	p {
		opacity: 0.85;
		position: absolute;
		width: 8em;
		top: 50%; left: 50%;
		transform: translate(-50%,-50%);
	}
}

main {
	position: relative;
	width: 100%; height: 100%;
	overflow: hidden;
}

.corner {
	--width: 1406px;
	--height: 1400px;
	position: absolute;
	z-index: 999;
}
#top-left-marker { top: 0px; left: 0px; }
#top-right-marker { top: 0px; left: var(--width); rotate: 90deg }
#bottom-right-marker { top: var(--height); left: var(--width); rotate: 180deg }
#bottom-left-marker { top: var(--height); left: 0px; rotate: -90deg }

.stamp {
	filter: drop-shadow(1px 1px 2px #21120c77);
	
}

main:after {
	content: '';
	position: absolute;
	width: 100%; height: 100%;
	background: #704c2e;
	opacity: 0.3;
	mix-blend-mode: color;
	pointer-events: none;
}

#drag-wrapper {
	position: absolute;
	top: 0px; left: 0px;
	width: 2000%;
	height: 2000%;
}

main img, nav a, nav button {
	position: absolute;
	filter: drop-shadow(4px 4px 3px #21120c77);
	user-select: none;
}

.background-layer {
	mix-blend-mode: multiply;
	opacity: 0.5;
}