body, html {
	width: 100%; height: 100%;
	margin: 0;
}

body {
	background-image: url('images/tapestry_forest.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

a.home {
	position: absolute;
	z-index: 1000;
	color: #21120c;
	left: 16px; top: 16px;
	@media screen and (width < 600px) { left: 10px; top: 10px; transform: scale(.75); }
}
a.home:hover img, a.home:active img, a.home:focus-visible img {
	transform: scale(1.1);
	@media screen and (width < 600px) { transform: scale(1.333); }
	filter: drop-shadow(0px 0px 10px #fff8df);
}
a.home .popout {
	z-index: -1;
	position: absolute;
	left: 90%; top: 55%; transform: translateY(-50%);
	overflow: hidden;
	width: 0%;
	transition: width .8s;
	font-family: 'Victorian Parlor', serif;
	font-size: 2rem;
	span {
		padding: .1em .4em .1em .65em;
		webkit-box-sizing: border-box; moz-box-sizing: border-box; box-sizing: border-box;
		background: #dec59e;
	}
}
a.home:hover .popout, a.home:active .popout, a.home:focus-visible .popout { width: 100%; }

button:focus-visible { outline: none; }
button:focus-visible img { filter: drop-shadow(0px 0px 20px #fff8df); }

#intro {
	position: absolute;
	z-index: 900;
	left: 365px; top: 165px;
	display: block;
	font-family: "Victorian Parlor", serif;
	font-size: 45px;
	color: #47341a;
	background: #fff8df;
	img {
		left: -210px; top: -110px;
	}
	p {
		opacity: 0.85;
		position: absolute;
		width: 8em;
		top: 50%; left: 50%;
		transform: translate(-50%,-50%);
	}
}

main {
	position: relative;
	width: 100%; height: 100%;
	overflow: hidden;
	
	@media screen and (width < 600px) {
		width: 118%; left: -9%;
		height: 118%; top: -9%;
		transform: scale(.85);
	}
}

.corner {
	--width: 1920px;
	--height: 1700px;
	position: absolute;
	z-index: 999;
}
#top-left-marker { top: 0px; left: 0px; }
#top-right-marker { top: 0px; left: var(--width); rotate: 90deg }
#bottom-right-marker { top: var(--height); left: var(--width); rotate: 180deg }
#bottom-left-marker { top: var(--height); left: 0px; rotate: -90deg }

.stamp {
	filter: drop-shadow(1px 1px 2px #21120c77);
}

#shadow-box {
	position: relative;
	left: 1050px; top: 760px;
	.img-magnifier-glass {
		position: absolute;
		z-index: 1;
		cursor: none;
		border-radius: 50%;
		cursor: none;
		/*Set the size of the magnifier glass:*/
		width: 200px;
		aspect-ratio: 1;
		left: -50px;
		top: 470px;
		img {
			cursor: initial;
			rotate: 35deg;
      width: 104%;
      left: -33%;
      top: -12%;
      filter: drop-shadow(5px 7px 4px #21120c99);
			pointer-events: none;
		}
	}
}
.img-magnifier-container {
	position: relative;
}

/* sepia color overlay */
main:after {
	content: '';
	z-index: 2000;
	position: absolute;
	width: 100%; height: 100%;
	background: #704c2e;
	opacity: 0.35;
	mix-blend-mode: color;
	pointer-events: none;
}

/* window background image */
.window {
	position: relative;
	pointer-events: none;
	width: fit-content;
}
.window > img {
	position: absolute;
	top: 0; left: 0;
}
.window > img:first-child {
	position: relative;
}
.window:before {
	content: '';
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-image: url('images/window_view.png');
	background-size: 250px;
	background-attachment: fixed;
	pointer-events: initial;
}
.window.window-90:before { width: 90%; height: 90%; top: 5%; left: 5%; }
.window.window-80:before { width: 80%; height: 80%; top: 10%; left: 10%; }
.window.window-70:before { width: 70%; height: 70%; top: 15%; left: 15%; }
.window.window-60:before { width: 60%; height: 60%; top: 20%; left: 20%; }
.window.window-50:before { width: 50%; height: 50%; top: 25%; left: 25%; }
.window.window-round:before { border-radius: 50%; }

#medieval-frame-rotate { transition: transform 1s; }

/* section behind the window that gets dragged */
#drag-wrapper {
	position: absolute;
	top: 0px; left: 0px;
	width: 2000%;
	height: 2000%;
}

main img, nav a, nav button {
	position: absolute;
	filter: drop-shadow(4px 4px 3px #21120c77);
	user-select: none;
}

.background-layer {
	mix-blend-mode: multiply;
	opacity: 0.5;
}

.pot {
	position: absolute;
	z-index: 1;
	width: fit-content;
	.front { border-radius: 46%; width: 80%; left: 12%; }
	.front img { left: -15%; }
	.front, .front img { position: relative; }
	.contents {
		position: absolute;
		width: 62%;
		left: 21%;
		bottom: 55%;
		overflow: hidden;
		img { left: 50%; transform: translateX(-50%); }
	}
}
.pot .content-wrapper {
	width: 100%;
	transform: translateY(100%);
	bottom: -1%;
	transition: transform 1s;
	img { position: relative; pointer-events: none;}
}
.pot:has(.front:hover, .front:focus-visible, .front:active) .content-wrapper { transform: translateY(0%); }

.dice-box {
	position: absolute;
	width: fit-content;
	z-index: 1;
	.outer { position: relative; }
	.inner { transition: transform 1.15s; }
	img { filter: drop-shadow(-8px 8px 4px #21120c77); }
}
.dice-box:hover .inner, .dice-box:active .inner, .dice-box:focus-visible .inner { transform: translateX(-90%); }

button:has(> .hover-hide) { position: absolute; }
.hover-hide { filter: none; }
button:active .hover-hide, button:focus-visible .hover-hide, button:focus .hover-hide, .hover-hide:hover {
	opacity: 0;
}

.book { z-index: 1; }

.spoons { position: absolute; }
.spoons * {
	top: 0;
	left: 0;
	&:first-child { left: -9px; }
	&:nth-child(3) { left: 3px; }
	transition: transform .5s;
}
.spoons:hover {
	*:nth-child(2) { transform: translate(65px, 76px); }
	*:nth-child(3) { transform: translate(-55px, 107px); }
}

/* FOLLOWING EYE */
.eye-wrapper { position: absolute; width: fit-content; }
.eye-wrapper .top { position: relative; }
.eye-wrapper img:not(.bottom) { filter: none; }