:root {
	--page-width: 2130px;
	--page-height: 2024px;
	--text: #47341a;
	--link-text: #32556a;
	--link-hover: #131745;
	--shadow: drop-shadow(4px 4px 3px #21120c88);
	--paper-color: #dfd4ac;
	--cursor: url("cursor_arrow.png"), auto;
	--cursor-pointer: url("cursor_pointer.png"), auto;
}

body, html {
	width: 100%; height: 100%;
	margin: 0;
	color: var(--text);
}

body.customCursor {
	cursor: url("/graphix/cursors/victorian_arrow.png"), auto;
	a, label, input, button { cursor: url("/graphix/cursors/victorian_hand.png"), pointer; }
}

.passthrough { pointer-events: none; }

img { user-select: none; }
main img, #credit-button, .navbutton { position: absolute; }
nav img, main img, #credit-button, .navbutton, #credits { filter: var(--shadow); }

nav {
	position: relative;
	z-index: 1000;
}

/* paper tape popout on hover */
.paper-popout {
	z-index: -1;
	position: absolute;
	top: 50%; transform: translateY(-50%);
	overflow: hidden;
	font-family: 'Victorian Parlor', serif;
	font-size: 2rem;
	width: fit-content;
	pointer-events: none;
	filter: var(--shadow);
	span {
		color: var(--text);
		display: inline-block;
		padding: .1em calc(.5em + 10px);
		transition: transform .8s;
		text-wrap: nowrap;
		background-image: url('images/paper_tape.png');
		background-size: auto 100%;
		webkit-box-sizing: border-box; moz-box-sizing: border-box; box-sizing: border-box;
	}
}
.paper-popout:not(.left) { /* pop out to right (default) */
	left: calc(100% - 10px);
	span { transform: translateX(-100%); background-position-x: right; }
}
.paper-popout.left { /* pop out to left */
	right: calc(100% - 10px);
	span { transform: translateX(100%); background-position-x: left; }
}
:has(> .paper-popout) { &:hover, &:active, &:focus-visible {
	.paper-popout { pointer-events: initial; }
	.paper-popout span { transform: translateX(0%); } }
}

/* glow on keyboard focus */
.glow-focus:focus-visible img, img.glow-focus:focus-visible, button:focus-visible img {
	filter: drop-shadow(0px 0px 10px #fff8df);
}
.glow-focus:focus-visible, button:focus-visible { outline: none; }
.book:focus-visible { .back, .front { filter: drop-shadow(0px 0px 20px #fff8df); } }

/* fixed pos navigation buttons */
.navbutton {
	margin: min(16px, 2vw);
	width: max(50px, min(20vw, 125px));
	img { max-width: 100%; }
}
.navbutton:hover img, .navbutton:active img, .navbutton:focus-visible img {
	transform: scale(1.1);
	@media screen and (width < 600px) { transform: scale(1.333); }
}
.home { left: -5px; top: -5px; }

#credit-button {
	z-index: 950;
	position: relative;
	top: 20px;
  left: 595px;
	rotate: 5deg;
	border-radius: 40%;
	img { position: initial; pointer-events: none; filter: none !important; }
}
#credit-button:hover img, #credit-button:active img, #credit-button:focus-visible img { transform: scale(1.1); }
#credits {
	position: fixed;
	padding: 0;
	border: none;
	max-height: 95vh;
	max-width: min(881px,min(44em,95vw));
	aspect-ratio: .77;
	color: var(--text);
	background: none;
}
#credits:after {
	content: '';
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-image: url('images/gold_frame.png');
	background-size: 100%;
	pointer-events: none;
}
#credits .wrapper {
	width: 66.5%; height: 73.5%;
	aspect-ratio: .7;
	margin: 17% auto;
	overflow: auto;
	padding: 1.5em 1em;
	webkit-box-sizing: border-box; moz-box-sizing: border-box; box-sizing: border-box;
	background: #e4d1ac; /* DEBUG - can't use var(--paper-color) because popover is above sepia overlay */
	box-shadow: inset 3px 8px 5px #21120c99;
}
#credits .wrapper :first-child { margin-top: 0; }
#credits h4 { margin-bottom: 0; }
#credits h2 { font-size: 2.25em; font-family: 'Victorian Parlor', serif; margin-bottom: 0; }
#credits ul { margin: 0; }
#credits a, #credits button { font-style: italic; font-weight: bold; color: var(--link-text); }
#credits a:hover, #credits button:hover { color: var(--link-hover); }
#credits .close { font-size: 1.75em; font-family: 'Victorian Parlor', serif; }

main {
	position: relative;
	width: 100%; height: 100%;
  overflow: auto;
	
	@media screen and (width < 600px) {
		width: 118%; left: -9%;
		height: 118%; top: -9%;
		transform: scale(.85);
	}
}

.corner {
	position: absolute;
	z-index: 999;
}
#top-left-marker { top: 0px; left: 0px; }
#top-right-marker { top: 0px; left: var(--page-width); transform: translateY(100%); rotate: 90deg; }
#bottom-right-marker { top: var(--page-height); left: var(--page-width); transform: translate(100%,100%); rotate: 180deg }
#bottom-left-marker { top: var(--page-height); left: 0px; transform: translateX(100%); rotate: -90deg }

#shadow-box {
	position: relative;
	left: 1050px; top: 760px;
	.img-magnifier-glass {
		position: absolute;
		z-index: 1;
		cursor: none;
		border-radius: 50%;
		/*Set the size of the magnifier glass:*/
		width: 200px;
		aspect-ratio: 1;
		left: -50px;
		top: 453px;
		img {
			cursor: initial;
			rotate: 35deg;
      width: 104%;
      left: -33%;
      top: -12%;
      filter: drop-shadow(5px 7px 4px #21120c99);
			pointer-events: none;
		}
	}
}
.img-magnifier-container {
	position: relative;
}

/* sepia color overlay */
body:after {
	content: '';
	z-index: 5000;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #704c2e;
	opacity: 0.3;
	mix-blend-mode: color;
	pointer-events: none;
}

main, #drag-wrapper {
	width: var(--page-width);
	height: var(--page-height);	
}

/* section behind the window that gets dragged */
#drag-wrapper {
	position: absolute;
	top: 0px; left: 0px;
	overflow: scroll;
}

.background-layer {
	mix-blend-mode: multiply;
	opacity: 0.5;
}

button:has(> .hover-hide) { position: absolute; }
.hover-hide {
	filter: none;
	left: 0; top: 0;
}
button:active, button:focus-visible, button:focus, button:hover {
	.hover-hide { opacity: 0; }
}