:root {
	--wall: #832121;
	--lines: #330d0d;
	--black: black;
	--white: white;
	--red: #bf0000;
	--blue: #363959;
	--yellow: #bf0000;
	--gray: #703b3b;
	--l-gray: #e6dcdc;
	--pink: #c39797;
	
	--border: 5px var(--lines) solid;
}

body {
	padding-bottom: 4rem; /* compensate for navigation */
	margin: 0;
	font-family: Courier, monospace;
	text-align: center;
	background: var(--wall);
	font-weight: bold;
}

img { image-rendering: pixelated; }

main {
	padding: 10px;
	margin-top: 2rem;
	img { max-width: 100%; user-select: none; pointer-events: none; }
}

section#ship-squares {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	
	.ship {
		margin-top: 1.25rem;
		position: relative;
		--size: max(100px,min(175px,calc(24vw - 15px)));
		width: var(--size);
		height: var(--size);
		border: var(--border);
		padding: 0;
		
		&:hover { outline: 2px var(--pink) solid; }
		&:focus-visible {
			outline: 1px var(--white) solid;
      box-shadow: 0 0 0 4px var(--pink);
		}
		
		/* icon at top of square */
		.icons {
			position: absolute;
			width: 100%;
			top: 0; transform: translateY(-55%);
			user-select: none;
			img { width: 25%; }
		}
		
		.content {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

/* ship description popup */
section#ship-description {
	position: fixed;
	z-index: 100;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: min(90vw,500px);
	height: auto;
	min-height: min(8em,80vh);
	background: var(--l-gray);
	border: var(--border);
	padding: 1em;
	
	pre.description {
		font-family: inherit; font-weight: inherit; color: inherit; font-size: inherit;
		text-align: center;
		width: 100%;
		tab-size: 0px;
		white-space: pre-wrap;
		word-break: break-word;
		line-height: 1.25;
		margin: 0;
		
		a, a:link, a:visited { color: var(--red); }
		a:hover { color: var(--pink); }
	}
	
	.icon {
		max-height: 1em;
    max-width: 1em;
    margin-bottom: -.2em;
		padding: 0 .15em;
	}
	
	button.close {
		background: var(--black);
		color: var(--red);
		font-size: 1.25rem;
		padding: .25em .5em;
		margin-top: 1em;
		
		&:hover, &:focus-visible { background: var(--red); color: var(--black); }
		&:focus-visible {
			outline: 3px var(--black) solid;
			box-shadow: 0 0 0 5px var(--wall);
		}
	}
}

/* main navigation */
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem .5rem;
	background: var(--black);
	color: var(--pink);
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	gap: 1.5em;
	a {
		&:visited, &:link {
			color: inherit;
		}
		&:hover {
			color: var(--red);
		}
	}
}

/* page settings */
.page-settings {
	--open-button-fill: var(--pink);
	--open-button-background: var(--black);
	--background: var(--black);
	--color: var(--pink);
	--accent: var(--white);
}