/* spoiler text */
.bbcode_spoiler:not(:hover) {
	background: var(--blue);
	color: var(--blue);
}
.bbcode_spoiler::selection { background: var(--blue); color: var(--white); }

/* quotes */
.bbcode_quote {
	margin: .25em 0;
}
.bbcode_quote_head {
	background: var(--l-blue);
	padding: .25em .5em;
	border-radius: .5em .5em 0 0;
}
.bbcode_quote_body {
	padding: .3em .5em;
	border: 2px var(--l-blue) solid;
	border-top: none;
	border-radius: 0 0 .5em .5em;
}

.bbcode_smiley {
	max-height: 1em;
	margin: 0 -.1em -.1em -.1em;
}
img + .bbcode_smiley { margin-left: 0; }
.bbcode_smiley:has(+ img) { margin-right: 0; }