body, html {
	margin: 0px; padding: 0px; width: 100%; height: 100%;
}

.messages {
	max-width: 70rem;
	background: var(--l-blue);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem .75rem;
	moz-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
}

.message {
	width: max(60%, min(90%, 35rem));
	display: flex;
	gap: .5rem;
	font-size: 1rem;
	padding: .5em .75em;
	moz-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
	background: var(--white);
	border: 4px var(--d-blue) solid;
	border-radius: 1rem 1rem 1rem 0;
}
.message.self {
	border-radius: 1rem 1rem 0 1rem;
	margin-left: auto;
}

.message .bubble { width: 100%; }
.message .bubble header {
	width: 100%;
	font-size: 1.5rem;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message .icon {
	width: 3em;
	height: 3em;
}

.message .username {
	font-weight: bold;
}

.message .date {
	font-size: 1rem;
	font-style: italic;
}