/*
<link href="/fonts/DSDigital/stylesheet.css" rel="stylesheet" type="text/css">
*/

@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DSDigital/DSDigital.ttf');
	font-weight: normal; font-style: normal; }
@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DSDigital/DSDigitalBold.ttf');
	font-weight: bold; font-style: normal; }
@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DSDigital/DSDigitalItalic.ttf');
	font-weight: normal; font-style: italic; }
@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DSDigital/DSDigitalBoldItalic.ttf');
	font-weight: bold; font-style: italic;
}
.txt-dsdigital { font-family: 'DS Digital', 'Courier New', sans-serif; }