:root {
	--green: #628A29;
	--l-green: #cbdd38;
	--d-green: #4d7921;
	--black: black;
	--white: white;
}

html, body { height: 100%; width: 100%; }

body {
	margin: 0;
	font-family: Courier, monospace;
	font-weight: bold;
	text-align: center;
	background: var(--green);
	display: flex; flex-direction: column;
	
	> header {
		background: var(--white);
		padding: .25rem;
		margin-bottom: .75rem;
		h1 { font-size: 2.5rem; margin: .25em 0 0 0; line-height: 1; }
		img { max-width: min(600px,90vw); }
		p { margin: .25em 0 .5em 0; }
	}
}

img { image-rendering: pixelated; }

:focus-visible { outline: 2px var(--l-green) solid; box-shadow: 0 0 0 4px var(--d-green); }

main {
	flex-grow: 1;
	min-height: 0;
	overflow: scroll;
	padding-bottom: 2rem;
}

/* main navigation */
nav {
	width: 100%;
	padding: 1rem .5rem;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	background: var(--white);
	color: var(--black);
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	gap: 1.5em;
	a {
		&:visited, &:link {
			color: inherit;
		}
		&:hover {
			color: var(--green);
		}
	}
}

/* links to characters */
#character-nav {
	a { display: inline-block; }
	img { max-width: 90vw; }
}

#shipping-nav {
	width: fit-content;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0 auto;
	img {
		max-width: min(5rem,20vw);
		transition: transform .2s;
		&:hover, &:focus-visible {
			transform: scale(1.1);
		}
	}
}

#playlists-disc { display: inline-block; }
/* spin on hover */
#playlists-disc img {
	transition: transform .5s;
}
#playlists-disc { &:hover, &:focus-visible { img {
		transform: scale(1.2);
		animation: spin 4s linear infinite;
} } }
@keyframes spin{
  0%{ rotate: 0deg; }
  100%{ rotate: 360deg; }
}

.text-section {
	padding: 0 1em;
	max-width: min(600px,100%);
	margin: 0 auto;
}

.text-section, .ministrife {
	h3, h4 {
		margin-bottom: 0;
		&:has(.prompt) {
			font-weight: normal;
			.prompt {
				text-decoration: underline;
				font-family: Verdana, sans-serif;
			}
			&::before {
				content: '> ';
			}
		}
	}
}