body {
	background-color:#000;
	text-align:center;
	font-size: 1.5rem;
}
body > header { margin: 2em 0 25px 0; }
h1 { letter-spacing: .1em; margin: 0; }
body > header p { margin: 0; }

h3 { margin-bottom: 0; }

#home-button { margin-top: 1em; }