:root {
	--white: #FFF;
	--orange: #e08748;
	--blue: #58b5e8;
}

body {
	background-image: url('/shrines/pokemon/images/snorunt_fabric_pattern.avif');
	background-size: 600px;
	margin: 0; padding: 0;
	font-size: 12px;
	font-family: 'Pokemon Classic', monospace;
}

.main-container {
	background: var(--white);
	width: min(100%, 450px);
	margin: 0 auto;
	mox-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
}

nav {
	background: black;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	padding: .25em 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: .5em;
}
nav a, nav a:link, nav a:visited {
	color: var(--white);
}
nav a:hover {
	color: var(--blue);
}
nav img {
	height: 16px;
}

.main-container > .content {
	padding: 10px 20px;
}

.main-container > .content > header {
	text-align: center;
}

h1, h2, h3 { text-transform: uppercase; }
h1 { margin-top: 0; }

li, li a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .25em;
}
li img { max-height: 32px; }

.links li a {
	font-weight: bold;
}

#pokefarm-minis {
	text-align: center;
}
.pokefarm-mini {
	display: inline-block;
	width: 160px;
	height: 64px;
}