body {
	background: var(--black);
	text-align: center;
}

nav {
	max-width: 400px;
	margin: 0 auto;
	
	a {
		display: block;
		
		&.wip {
			color: var(--orange);
			&:hover { color: var(--yellow); }
			&::after { content: ' (wip)'; }
		}
	}
	h3 { margin-bottom: 0; }
}