Options +Indexes

ErrorDocument 404 /not_found.html

################################
# REDIRECTS

Redirect 301 /login /user/login
Redirect 301 /register /user/register

Redirect 301 /homestuck /shrines/homestuck
Redirect 301 /sollux /shrines/homestuck/sollux
Redirect 301 /nepeta /shrines/homestuck/nepeta
Redirect 301 /homestuck-ships /shrines/homestuck/shipping

Redirect 301 /shrines/garf /garfield
Redirect 301 /garfield /shrines/garfield

Redirect 301 /teeth /shrines/teeth
Redirect 301 /tangy /shrines/tangy
Redirect 301 /snailfish /shrines/snailfish
Redirect 301 /raptor-red /shrines/raptor-red

Redirect 301 /toybox /games/toybox

Redirect 301 /games/wormrace /games/worm-race
Redirect 301 /wormrace /games/worm-race
Redirect 301 /worm-race /games/worm-race

################################
# URL REWRITING

RewriteEngine on

#############
# prevent hotlinking images and files
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !(http)?s?(:\/\/)?localhost\/.*$ [NC]
RewriteCond %{HTTP_REFERER} !(http)?s?(:\/\/)?(www\.)?codecreature.net\/.*$ [NC]

# Allow Internet Archive
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?archive\. [NC]
# Allow Google
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?google\. [NC]
# Allow Bing
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?bing\. [NC]
# Allow DuckDuckGo
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?duckduckgo\. [NC]
# Allow Yahoo
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?yahoo\. [NC]
# Allow Yandex
RewriteCond %{HTTP_REFERER} !^https?://(.+\.)?yandex\. [NC]
# block all other sites from hotlinking these file types
RewriteRule ^(.*)\.(gif|jpg|jpeg|bmp|zip|rar|mp3|flv|swf|xml|png|avif|svg|webp|pdf)$ https://i.postimg.cc/C1nLcrXG/hotlink-blocked.png [NC,L]
#############

# /u/sampleUser actually displays /user/profile.php?username=sampleUser
RewriteRule ^u/([^\/]*)/? user/profile/index.php?username=$1


# /best-garfield redirects to poll
RewriteRule ^best-garfield/results/?(.*) /shrines/garfield/best-garfield/result.php?name=$1
RewriteRule ^best-garfield/vote/(.)(.*) /shrines/garfield/best-garfield/result.php?name=$1$2&voted=true
RewriteRule ^best-garfield/?(.*) /shrines/garfield/best-garfield/$1
RewriteRule ^garfield/?(.*) /shrines/garfield/$1?fileversion=0

# /x-chat redirects to /chat/x
RewriteRule ^(.*)-chat/? /chat/$1/index.php
# specific chat redirects
RewriteRule ^games/worm-race/chat/?$ /chat/worms/index.php

# redirect /preview /preview/ or /preview.html to that preview's parent directory
RewriteRule ^(.*)/preview(\.html)?/? /$1/ [R=301,L]