body {
	background: var(--black);
	text-align: center;
}

h1, h3 { color: var(--yellow); }
h3 { margin-bottom: 0; }

.trait-icons {
	margin-left: .25em;
	
	img {
		height: 1.2em;
		margin-bottom: -.2em;
	}
	
	/* icon meaning key section */
	&.guide > * {
		display: block;
	}
}

#page-links {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
	
	a:not(.wip) {
		color: var(--green);
		font-weight: bold;
		&:hover { color: var(--d-green); }
	}
	a.wip {
		color: var(--l-blue);
		&:hover { color: var(--blue); }
	}
	
	ul { margin-top: 0; }
	
	li { list-style-type: square; }
}