#playlist-0 { margin-top: 0px; }

/*WMPlayer template*/
.wmplayer.default {
	background-color: #fff;
	color: var(--text);
	position:relative;
	padding: 1rem;
	width: min(100vw, 600px);
	margin: 0 auto;
	
	header {
		display: flex;
		align-items: center;
		height: 100px;
		.icon-wrapper {
			position: relative;
			width: 120px;
			height: 110px;
			align-self: flex-end;
			margin: -35px 0 -10px -20px;
			user-select: none;
			pointer-events: none;
		}
		.icon {
			position: absolute;
			bottom: 0;
			left: 40%;
			transform: translate(-50%,0%);
		}
		> span {
			flex-grow: 1;
		}
		h2 {
			margin-bottom: 0;
			color: var(--text-accent);
		}
	}
}

.wmplayer.default  * {
    box-sizing: border-box;
}

/*control panel*/
.wmplayer.default .wmp-panel {
    padding: 15px; position: relative;
}

/*control panel current track data*/
.wmplayer.default .wmp-current-track {
  margin: 0 100px;
	color: var(--text-accent);

}

.wmplayer.default .wmp-current-track:after {
    content: '';
    display: table;
    clear: both;
}

.wmplayer.default .wmp-current-track-title {
    float: left;
    width: 80%;
    width: calc(100% - 90px);
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*control panel timer*/
.wmplayer.default .wmp-timer {
    float: left;
    width: 90px;
    text-align: right;
}

.wmplayer.default .wmp-timer .wmp-current-track-time:after {
    content: '/';
    display: inline;
}

/*control panel buttons*/
.wmplayer.default .wmp-button {
    cursor: pointer;
    fill: var(--text-accent);
    stroke: var(--text-accent);
    stroke-linecap: round;
    stroke-width: 2;
    stroke-linejoin: round;
}

.wmplayer.default .wmp-button svg {
    display: block;
}

.wmplayer.default .wmp-button path {
    stroke: var(--text-accent);
    stroke-width: 1;
}

.wmplayer.default .wmp-button:hover, .wmp-button:focus {
    fill: var(--text);
    stroke: var(--text);
}
.wmplayer.default .wmp-button:hover path,
.wmp-button:focus path {
    stroke: var(--text);
}

.wmplayer.default .wmp-controls {
    display: inline-block;
    padding: 1px 0;
    position: absolute;
    top: 15px;
    left: 15px;
}

.wmplayer.default .wmp-controls:after {
    content: '';
    display: table;
    clear: both;
}

.wmplayer.default .wmp-controls .wmp-button {
    float: left;
}

.wmplayer.default .wmp-controls .wmp-button:not(:last-child) {
    margin-right: 8px;
}

.wmplayer.default .wmp-play .wmp-symbol-pause {
    display: none;
}

.wmplayer.default.playing .wmp-play .wmp-symbol-play {
    display: none;
}

.wmplayer.default.playing .wmp-play .wmp-symbol-pause {
    display: block;
}

/*volume bar*/
.wmplayer.default .wmp-volume-bar-container {
    display: inline-block;
    width: 75px;
    height: 20px;
    margin-left: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.wmplayer.default .wmp-volume-bar-container:before {
    content: '';
    display: block;
    height: 2px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

.wmplayer.default .wmp-volume-bar {
    width: 50%;
    height: 2px;
    background-color:#304ffe;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.wmplayer.default .wmp-volume-bar:after {
    content:'';
    display: block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background-color: #304ffe;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(50%, -50%);
}

.wmplayer.default .wmp-volume-bar-container .wmp-button {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
}

.wmplayer.default.muted .wmp-mute .wmp-symbol-muted {
    display: none;
}

/*progress bar*/
.wmplayer.default .wmp-progress-bar-container {
    height: 20px;
    margin: 10px 0 0;
    position: relative;
    cursor: pointer;
}

.wmplayer.default .wmp-progress-bar-container:before {
    content: '';
    display: block;
    height: 2px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

.wmplayer.default .wmp-progress-bar {
    width: 50%;
    height: 2px;
    background-color:#304ffe;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.wmplayer.default .wmp-progress-bar:after {
    content:'';
    display: block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background-color: #304ffe;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(50%, -50%);
}

/*playlist*/
.wmplayer.default .wmp-playlist {
    display: flex;
		flex-direction: column;
    width: 100%;
    table-layout:fixed;
    border-collapse:collapse;
    border-spacing:0;
}

.wmplayer.default .wmp-playlist > button {
    display: flex;
    cursor: pointer;
    border-top: 1px solid var(--text);
    background-color: var(--bg);
}

.wmplayer.default .wmp-playlist > button:hover, div.wmp-playlist > button:focus {
    background-color: var(--bg);
}

.wmplayer.default .wmp-playlist > button.wmp-current {
    background-color: var(--bg-accent);
}

.wmplayer.default .wmp-playlist > button > span {
    display: table-cell;
    font-size:13px;
    vertical-align: middle;
		color: var(--text);
    padding: 10px 9px;
}

.wmplayer.default .wmp-playlist > button > span:first-child {
    width: 50px;
    padding-left: 15px;
    text-align:right;
}

.wmplayer.default .wmp-playlist > button > span:nth-child(2) {
		flex-grow: 1;
		min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wmplayer.default .wmp-playlist > button > span:last-child {
    width: 64px;
    padding-right: 15px;
    text-align:right;
}

.wmplayer.default .wmp-playlist > button.wmp-error > span {
    color: rgba(255,0,0,0.87);
}

/*footer*/
.wmplayer.default .wmp-footer {
    padding: 5px 15px;
    font-size: 11px;
    color: var(--text);
    border-top: 1px solid var(--text);
}

.wmplayer.default .wmp-footer a {
    color: var(--text-accent);
    text-decoration: none;
}

.wmplayer.default .wmp-footer a:hover,
.wmplayer.default .wmp-footer a:focus {
    color: var(--text-accent);
}

@media only screen and (max-width: 480px) {
    .wmplayer.default .wmp-current-track {
        margin: 0 0 10px;
    }

    .wmplayer.default .wmp-controls {
        position: static;
    }

    .wmplayer.default .wmp-volume-bar-container {
        float: right;
        position: relative;
        top: auto;
        right: auto;
    }
}
