#ministrife-club {
	width: min(100%,400px);
	margin: 0 auto;
	
	a.ministrife-button {
		margin-bottom: 0;
		margin-top: 0;
		text-align: center;
	}
	
	.sprites {
		background: var(--yellow);
		background-image: url('/shrines/homestuck/nepeta/images/lolcat.png');
		background-position: bottom;
		background-size: cover;
		border: 3px var(--yellow) solid;
		margin-bottom: 10px;
		padding: 5px 25px 0 25px;
		height: 110px;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		
		a {
			position: relative;
			display: inline-block;
			margin: 0; margin-bottom: 15px;
			&:hover, &:focus-visible {
				img { transform: scale(2); }
				z-index: 100;
				outline: none;
			}
		}
		a:not(:hover,:focus-visible) img {
			image-rendering: pixelated;
			-webkit-filter: drop-shadow(1px 1px 0px black);
			filter: drop-shadow(1px 1px 0px black);
		}
	}
}