.load-area {
	color: var(--dd-blue);
	padding: 0.25em 0;
	z-index: 100;
	position: absolute;
	top: 55%; left: 50%; transform: translate(-50%, -50%);
	width: 100%;
	text-align: center; font-size: 2em;
}

.load-area .subtitle {
	font-size: .8em;
}

.load-area a {
	color: var(--blue);
	&:hover { color: var(--d-blue); }
}

.marquee {
	position: relative;
	overflow: hidden visible;
	width: 100%;
	height: 4vw; 
	margin: .75em 0;
	pointer-events: none; -webkit-user-select: none; user-select: none;
}

.marquee-content {
	position: absolute;
	width: auto; height: 100%;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-right 24s linear infinite;
	-webkit-animation: scroll-right 24s linear infinite;
	animation: scroll-right 24s linear infinite;
}
.marquee-content img { height: 100%; }

.mc1 {
	-moz-animation-delay: -12s;
	-webkit-animation-delay: -12s;
	animation-delay: -12s;
}

@-moz-keyframes scroll-right {
	0% { -moz-transform: translateX(-100%); }
	100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-right {
	0% { -webkit-transform: translateX(-100%);}
	100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-right {
	0% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}