body { font-family: "Yet R", sans-serif; }

a, a:link, a:visited { color: var(--d-orange); }
a:hover { color: var(--red); }

.iframe .main-container { padding-top: 0; padding-bottom: 0; font-size: min(10vw, 1.125rem); }

.iframe .title { display: none; }
.iframe .subtitle { color: var(--orange); }
.iframe .subtitle:hover { color: var(--d-orange); }

.iframe .update .date, .iframe .update .date a { color: var(--d-orange); }
.iframe .update .date a:hover { color: var(--red); }
.iframe .update .summary { color: var(--orange); padding-left: 1em; }

.iframe .update:before { display: none; }

/******************************************************************************************
	SCROLLBAR
******************************************************************************************/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--orange);
	background-color: var(--yellow);
}
::-webkit-scrollbar-thumb { box-shadow: none; background: var(--orange); }