a, a:link, a:visited { color: var(--d-pink); }
a:hover { color: var(--pink); }

.iframe .subtitle { color: var(--pink); }
.iframe .subtitle:hover { color: var(--d-pink); }

.iframe .update .date, .iframe .update .date a { color: var(--d-pink); }
.iframe .update .date a:hover { color: var(--pink); }
.iframe .update .summary { color: var(--pink); padding-left: 1em; }

.iframe .update:before { display: none; }

/******************************************************************************************
	SCROLLBAR
******************************************************************************************/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--pink);
	background-color: var(--ll-pink);
}
::-webkit-scrollbar-thumb { box-shadow: none; background: var(--d-pink); }