:focus-visible { outline: 2px var(--l-green) solid; box-shadow: 0 0 0 4px var(--d-green); }

.invisible { visibility: hidden; }

body {
	background: #009059;
	background-image: url('/graphix/bg/ac_spring_2x.png');
	margin: 0px;
	height: 100vh;
	font-family: sans-serif;
	
	display: flex;
	flex-direction: column;
}

main {
	position: relative;
	flex-grow: 1;
	width: 100%;
	overflow: scroll;
	
	> .container {
		margin: auto;
		padding-bottom: 3rem;
		width: fit-content;
		height: fit-content;
		
		> header {
			text-align: center;
		}
	}
}

#amiibo {
	width: min(276px,80vw);
	height: auto;
	aspect-ratio: 7.11/10;
	position: relative;
	
  perspective: 1000px; /* 3D effect for flip */
	
	/* round all needed corners */
	> .container, .front, .front > img, .back { border-radius: 2%; }
	
	&:hover, &:focus-visible { > .container, .front, .back { box-shadow: 0px 0px 8px 6px #fff; } }
	
	img { pointer-events: none; } /* images not draggable */
	
		
	/* inner container for flip card effect */
	> .container {
		position: relative;
		height: 100%; width: 100%;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		/* no flip animation for accessibility */
		@media (prefers-reduced-motion: reduce) { transition: transform 0s; }
		
		/* version that is flipped to back side */
		&.flipBack { transform: rotateY(180deg); }
	}
	
	.front {
		> img { width: 100%; }
	}
	
	.back {
		width: 100%;
		height: 100%;
		background: #fabe00;
		border: 10px #e85d00 solid;
		box-sizing: border-box;
		transform: rotateY(180deg); /* compensate for animation flip */
	}
	
	.front, .back {
		position: absolute;
		width: 100%;
		height: 100%;
		/* hide whichever is in the back */
		-webkit-backface-visibility: hidden; backface-visibility: hidden;
	}
}

#leggy-run {
	position: absolute;
	right: 10px;
	bottom: 10px;
	max-width: 30%;
}

nav {
	background: #60af16;
	padding: 15px;
	display: flex;
	justify-content: center;
	gap: 15px;
	
	a, a:link, a:visited {
		background: #fabe00;
		color: #de3800;
		font-weight: bold;
		padding: .25em .5em;
		border-radius: .2em;
		font-size: 1.25rem;
	}
	a:hover, a:focus-visible {
		background: #de3800;
		color: #fff;
	}
}