body, html { height: 100%; width: 100%; margin: 0; padding: 0; }

body {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-top: 15px;
	align-items: center;
	text-align: center;
	color: var(--d-purple);
	background: linear-gradient(
		var(--orange),
		var(--yellow)
	);
	background-size: 100%;
	background-attachment: fixed;
	
	--shadow-color: var(--orange);
	--shadow-color-dark: var(--red);
}

/***** scrollbar *****/
/* Firefox settings */
* { scrollbar-color: var(--red) var(--yellow); }
/* width */
::-webkit-scrollbar { width: 15px; }
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--orange);
	background-color: var(--yellow);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--red);
	border-radius: 10px;
}

/***** PAGE SETTINGS ******/

.page-settings {
	.open-page-settings { box-shadow: 3px 4px var(--shadow-color-dark); }
	.open-page-settings:active { transform: translate(3px,4px); box-shadow: none; }
	.open-page-settings, #page-settings-contents { box-shadow: 4px 5px var(--shadow-color-dark); }
	top: 8px;
	right: 10px;
	--open-button-fill: var(--red);
  --open-button-background: var(--yellow);
  --open-button-border: none;
  --background: var(--yellow);
  --border: 2px var(--white) solid;
  --outline: 0px;
  --color: var(--d-purple);
  --accent: var(--red);
	font-family: inherit;
	font-weight: bold;
	label, button, #page-settings-close-button {
		font-family: "Super Comic", "Comic Sans MS", sans-serif;
		text-transform: uppercase;
	}
	#page-settings-close-button:hover, #page-settings-close-button:focus-visible {
		color: var(--orange);
	}
}

/****** GENERAL *******/

a, a:link, a:visited { color: var(--d-pink); }
a:hover, a:focus-visible { color: var(--red); }

nav {
	width: fit-content;
	position: fixed;
	top: 15px;
	left: 15px;
	
	a, a:link, a:visited, button {
		display: inline-block;
		background: var(--yellow);
		color: var(--red);
		font-family: "Super Comic", "Comic Sans MS", sans-serif;
		box-shadow: 3px 4px var(--shadow-color-dark);
		font-size: 2rem;
		padding: .2em .5em;
		border-radius: 20px;
		line-height: 1;
	}
	a:hover, button:hover { color: var(--orange); }
	a:active, button:active { transform: translate(3px,4px); box-shadow: none; }
}

h1 {
	color: var(--red);
	font-family: "Super Comic", "Comic Sans MS", sans-serif;
	--text-shadow-color: var(--white);
	text-shadow:
		-1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color),
		-2px 0 0 var(--text-shadow-color), 2px 0 0 var(--text-shadow-color), -2px 0 0 var(--text-shadow-color), 2px 0 0 var(--text-shadow-color),
		0 -2px 0 var(--text-shadow-color), 0 -2px 0 var(--text-shadow-color), 0 2px 0 var(--text-shadow-color), 0 2px 0 var(--text-shadow-color),
		-2px -1px 0 var(--text-shadow-color), 2px -1px 0 var(--text-shadow-color), -2px 1px 0 var(--text-shadow-color), 2px 1px 0 var(--text-shadow-color),
		-1px -2px 0 var(--text-shadow-color), 1px -2px 0 var(--text-shadow-color), -1px 2px 0 var(--text-shadow-color), 1px 2px 0 var(--text-shadow-color),
		-2px -2px 0 var(--text-shadow-color), 2px -2px 0 var(--text-shadow-color), -2px 2px 0 var(--text-shadow-color), 2px 2px 0 var(--text-shadow-color),
		3px 5px var(--shadow-color-dark);
}

h1, p { margin: 0; }

* {box-sizing: border-box;}

body.customCursor { canvas { cursor: crosshair; } }

canvas {
	border: 4px solid var(--yellow);
	box-shadow: 5px 5px var(--shadow-color);
	cursor: crosshair;
	width: 500px;
	height: 500px;
	flex-grow: 0;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.image-container {
	border: 1px solid #ccc;
	padding: 5px;
	max-width: 200px;
	text-align: center;
}
.image-container img {
	max-width: 100%;
	height: auto;
	display: block;
}

#drawbox-section {
	position: relative;
}

#stroke-width-wrapper {
	position: absolute; right: calc(50% - 365px); top: 26%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	width: 100px;
}
#stroke-width { 
  appearance: slider-vertical;
}
#stroke-width-preview {
	display: inline-block;
	width: 5px;
	aspect-ratio: 1;
	background: var(--black);
	border-radius: 50%;
}

/************************************/
/********* COLOR PICKER *************/

#drawbox-stroke-colors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 7px;
	padding: 10px 0;
	width: 500px;
	max-width: 100vw;
}

.stroke-color {
	position: relative;
	display: block;
	width: min(12%, 6.5vh); aspect-ratio: 1;
	min-width: 35px;
	border: 3px var(--white) solid;
	box-shadow: 4px 4px var(--shadow-color);
	cursor: pointer;
	border-radius: 50%;
}
.stroke-color:focus-visible, .wrapper:has(input[type=color]:focus-visible) {
	outline: 4px var(--blue) solid;
}
.wrapper:has(input[type=color]) { overflow: hidden; }
input[type=color] { position: absolute; left: -50%; top: -50%; width: 200%; height: 200%; }

.stroke-color:active {
	transform: translate(4px,4px);
	box-shadow: none;
}

.stroke-color.current:after {
	position: absolute;
	left: 50%; top: 50%; transform: translate(-50%,-50%);
	content: 'X';
	font-weight: bold;
	color: var(--d-purple);
	font-size: 28px;
}
.stroke-color.dark.current:after { color: var(--white); }