body {
	font-family: 'Yet R', sans-serif;
}

body > header {
	font-family: 'Super Comic', sans-serif;
	strong { color: var(--l-blue); }
	text-align: center;
}

nav { text-align: center; }

.iframe nav { display: none; }

main {
	max-width: 600px;
	margin: 0 auto;
}

.pink {
	fieldset, .form-section:not(:is(:last-of-type)) { border-color: var(--d-pink); }
	label, legend { color: var(--l-pink); }
	h1, .form-section .info {
		color: var(--pink);
		strong { color: var(--l-pink); }
	}
}
.orange {
	fieldset, .form-section:not(:is(:last-of-type)) { border-color: var(--d-orange); }
	label, legend { color: var(--orange); }
	h1, .form-section .info {
		color: var(--d-orange);
		strong { color: var(--orange); }
	}
}
.green {
	fieldset, .form-section:not(:is(:last-of-type)) { border-color: var(--d-green); }
	label, legend { color: var(--green); }
	h1, .form-section .info {
		color: var(--d-green);
		strong { color: var(--l-green); }
	}
}
.blue {
	fieldset, .form-section:not(:is(:last-of-type)) { border-color: var(--d-blue); }
	label, legend { color: var(--l-blue); }
	h1, .form-section .info {
		color: var(--blue);
		strong { color: var(--l-blue); }
	}
}
.purple {
	fieldset, .form-section:not(:is(:last-of-type)) { border-color: var(--m-purple); }
	label, legend { color: var(--l-purple); }
	h1, .form-section .info {
		color: var(--d-blue);
		strong { color: var(--purple); }
	}
}

#user-settings {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#details .content-wrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
}
#details .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#details .value {
	font-weight: bold;
	color: var(--l-blue);
}
#details .username .value { color: var(--green); }
#details .value .admin { color: var(--orange); }
#details .user-icon {
	width: min(100%,max(50px,min(100px, 30%)));
}

section.settings-block {
	border: 5px var(--blue) solid;
	border-radius: 10px;
	> header {
		background: var(--blue);
		color: var(--white);
		padding: 0 .5rem .25rem .5rem;
		> h1, h2, h3, h4 { margin: 0; }
	}
	> .content-wrapper {
		padding: .5em .75em;
	}
}
.pink section.settings-block {
	border-color: var(--pink);
	> header { background: var(--pink); }
}
.orange section.settings-block {
	border-color: var(--d-orange);
	> header { background: var(--d-orange); }
}
.green section.settings-block {
	border-color: var(--d-green);
	> header { background: var(--d-green); }
}
.blue section.settings-block {
	border-color: var(--blue);
	> header { background: var(--blue); }
}
.purple section.settings-block {
	border-color: var(--purple);
	> header { background: var(--purple); }
}

.icon-selections {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: max(2%,5px);
}
.icon-selections .wrapper:has(input[type="radio"]) {
	position: relative;
	width: min(100px, 90%);
	aspect-ratio: 1/1;
	display: inline-block;
	box-sizing: border-box;
	&:hover, &:focus-visible {
		z-index: 2;
		transform: scale(110%);
	}
	&:has(:checked) { z-index: 1; }
}

.icon-selections input[type="radio"] {
	opacity: 0;
	position: absolute;
	width: 100%; height: 100%;
	margin: 0px;
}

.icon-selections input[type="radio"] + label {
	background: var(--d-blue);
}
.icon-selections input[type="radio"]:checked + label {
	background: var(--white);
	outline: 5px solid var(--blue);
	background: var(--l-blue);
}
.icon-selections input[type="radio"] + label {
	border-radius: 50%;
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.icon-selections input[type="radio"], #icon input[type="radio"] + label, img.icon-preview {
	width: 100%; height: 100%;
}

#icon input[type="submit"] {
	width: max(60%, min(300px, 100%));
	position: relative;
	left: 50%; transform: translateX(-50%);
	margin-top: 20px;
}

.form-section:not(:is(:last-of-type)) {
	border-bottom: 2px var(--blue) solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.form-section .info {
	font-style: italic;
}

label, legend {
	font-weight: bold;
	color: var(--l-blue);
}

/* color picker dropdown */
select, ::picker(select) { appearance: base-select; }
#color-select {
	padding: .25em .35em;
	border-radius: .5em;
	border: 2px var(--d-pink) solid;
}
#color-select, #color-select option { font-weight: bold; }
option[value=pink], #color-select:has(option[value=pink]:checked) { background: var(--l-pink); color: var(--d-pink); }
#color-select:has(option[value=pink]:checked) { border-color: var(--d-pink); }
option[value=orange], #color-select:has(option[value=orange]:checked) { background: var(--orange); color: var(--d-pink); }
#color-select:has(option[value=orange]:checked) { border-color: var(--d-pink); }
option[value=green], #color-select:has(option[value=green]:checked) { background: var(--green); color: var(--dd-green); }
#color-select:has(option[value=green]:checked) { border-color: var(--dd-green); }
option[value=blue], #color-select:has(option[value=blue]:checked) { background: var(--l-blue); color: var(--blue); }
#color-select:has(option[value=blue]:checked) { border-color:  var(--blue); }
option[value=purple], #color-select:has(option[value=purple]:checked) { background: var(--purple); color: var(--d-purple); }
#color-select:has(option[value=purple]:checked) { border: var(--d-purple); }

/* flag selection checkboxes */
.flags fieldset {
	border-style: solid;
	border-radius: .5em;
}
.flags fieldset:not(:first-child) { margin-top: .5em; }
.flags .option-wrapper {
	padding: .25em;
	width: min(100%,max(10em,min(49%, 50vw)));
	margin: .1em 0;
}
.flags .option-wrapper input { display: none; }
.flags .option-wrapper:not(:has(input:checked),:hover,:focus-visible) {
	opacity: .6;
}
.flags .option-wrapper:has(input:checked) label {
	position: relative;
	outline: 4px var(--white) solid;
	&:after {
		content: '';
		position: absolute;
		display: block;
		top: -2px; left: -2px;
		width: 100%; height: 100%;
		border: 2px var(--d-purple) solid;
	}
}
.flags label {
	display: inline-block;
	padding: .25em .75em;
	box-sizing: border-box;
	width: 100%;
	background-size: 100% 100%;
	background-color: var(--dd-purple);
	background-blend-mode: lighten;
	image-rendering: pixelated; /* keep background images sharp when scaled */
	--text-shadow-color: var(--dd-purple);
	--text-shadow-2px: 
		-1px -1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px 1px 0 var(--text-shadow-color),
		-2px 0 0 var(--text-shadow-color), 2px 0 0 var(--text-shadow-color), -2px 0 0 var(--text-shadow-color), 2px 0 0 var(--text-shadow-color),
		0 -2px 0 var(--text-shadow-color), 0 -2px 0 var(--text-shadow-color), 0 2px 0 var(--text-shadow-color), 0 2px 0 var(--text-shadow-color),
		-2px -1px 0 var(--text-shadow-color), 2px -1px 0 var(--text-shadow-color), -2px 1px 0 var(--text-shadow-color), 2px 1px 0 var(--text-shadow-color),
		-1px -2px 0 var(--text-shadow-color), 1px -2px 0 var(--text-shadow-color), -1px 2px 0 var(--text-shadow-color), 1px 2px 0 var(--text-shadow-color),
		-2px -2px 0 var(--text-shadow-color), 2px -2px 0 var(--text-shadow-color), -2px 2px 0 var(--text-shadow-color), 2px 2px 0 var(--text-shadow-color);
	color: white;
	text-shadow: var(--text-shadow-2px);
}