/*
<link href="/fonts/MaturaRegular/stylesheet.css?fileversion=10" rel="stylesheet" type="text/css">
*/

@font-face { font-family: "Matura Regular"; font-display: swap; src: url('/fonts/MaturaRegular/Matura MT Std Regular.otf'); }
.txt-maturaregular { font-family: "Matura Regular", sans-serif; }