/*
<link href="/fonts/CrimesTimesSix/stylesheet.css" rel="stylesheet" type="text/css">
*/

@font-face { font-family: "Crimes Times Six"; font-display: swap; src: url('/fonts/CrimesTimesSix/CrimesTimesSix.ttf'); }
.txt-crimestimes { font-family: 'Crimes Times Six', sans-serif; letter-spacing: 0.1em; }