:root {
	--green: #628A29;
	--black: black;
	--white: white;
}

body {
	margin: 0;
	font-family: Courier, monospace;
	font-weight: bold;
	text-align: center;
	background: var(--green);
	
	> header {
		background: var(--white);
		padding: .25rem;
		margin-bottom: .75rem;
		h1 { font-size: 2.5rem; margin: .25em 0 0 0; line-height: 1; }
		img { max-width: min(650px,90vw); }
		p { margin: .25em 0 .5em 0; }
	}
}

img { image-rendering: pixelated; }

/* main navigation */
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem .5rem;
	background: var(--white);
	color: var(--black);
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	gap: 1.5em;
	a {
		&:visited, &:link {
			color: inherit;
		}
		&:hover {
			color: var(--green);
		}
	}
}

/* links to characters */
#character-nav {
	a { display: inline-block; }
	img { max-width: 90vw; }
}

#shipping-nav {
	width: fit-content;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 0 auto;
	img { max-width: min(5rem,20vw); }
}