#propaganda .details {
	max-height: 50vh;
	overflow-y: auto;
	display: flex; flex-direction: column; gap: 1em;
}

.nav { text-align: center; }

#propaganda textarea, #propaganda textarea:focus {
	resize: none; overflow: hidden; word-break: break-all;
	background: var(--l-blue);
	border: 1px var(--blue) dashed;
	color: var(--dd-blue);
}
#propaganda textarea:focus { border: 1px var(--d-blue) solid; outline: 1px var(--d-blue) solid; border-radius: 0; }
#propaganda textarea::selection { background: var(--d-blue); color: var(--white); }
/* copy button */
.share-btn-section button { font-size: max(25px, calc(var(--cw) / 30)); }
.share-btn-section .tooltiptext { width: 4em; }
.share-btn-section button:hover { color: var(--l-blue); }

/** BUTTONS **/
#buttons {
	display: flex; flex-direction: column;
	gap: .5em;
}
.share-btn-section {
	width: 100%;
	display: flex;
	align-content: center; justify-content: center;
	gap: .5em;
}
.share-btn-section textarea { flex-grow: 1; }

/** POSTERS **/
#posters { display: flex; flex-wrap: wrap; }
#posters .img-wrapper img { max-width: 100%; }
#posters .poster-section { width: 40%; }
.poster-section textarea { width: 0px; min-width: 100%; }
.poster-section .credit {
	background: var(--blue);
	color: var(--white);
	text-align: center;
	padding: .15em .5em;
	a, a:link, a:visited { color: var(--l-blue); }
	a:hover { color: var(--white); }
}