#header-banner { z-index: 2; }

/******************************************************************************************
	CURRENT WINNER TEXT
******************************************************************************************/

#win-text {
	width: min(100%, 90vw);
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	justify-content: center;
	align-items: center;
	background: var(--diagonal-stripes);
	background: var(--dd-blue);
	color: var(--white);
	border-radius: 1rem;
	moz-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
	
	padding: .65em 1em;
	text-transform: uppercase;
	
	.name {
		font-family: "Super Comic", sans-serif;
		letter-spacing: .08em;
		color: var(--white);
		text-shadow: 2px 3px var(--dd-blue);
		background: var(--color);
		border: .1em var(--color-light) solid;
		padding: .2em .5em;
		border-radius: 1em;
	}
	span:not(.name) { font-weight: bold; }
}

/******************************************************************************************
	RACE
******************************************************************************************/
.race-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.5% auto 0 auto;
	--padding: min(1.2vw, 1.2vh);
	gap: var(--padding);
	padding: 0 var(--padding) 0 calc(var(--padding)*2);
	/* narrower when updates sticky note displayed */
	@media screen and (width >= 1000px) and (height >= 700px) { max-width: 85%; }
	@media screen and (width < 1000px) or (height < 700px)) { max-width: 85%; }
	
	img { pointer-events: none; user-select: none; }
}

.wrapper:has(> #race-tracks) {
	@media screen and (width >= 933px) {
		width: 55%;
		min-width: 600px;
		max-width: min(100vh, 90vw);
	}
	@media screen and (width < 933px) {
		width: min(90vw, 600px);
		max-height: 75vh;
	}
	
	display: flex;
	flex-direction: column;
	
	--border-radius: 1.5rem;
	
	> header {
		position: relative;
		
		text-align: center;
		background: var(--dd-blue);
		color: var(--white);
		width: 100%;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		border-bottom: none;
		moz-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
		padding: .5em .75em .25em .75em;
		
		font-size: max(1rem, min(1.25rem, 5vw));
		
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	.title { flex-grow: 1; }
	
	i.svg-icon {
		background: var(--white);
	}
	.i-caret-down {
		height: .6em;
		margin: 0 0 .05em .25em;
	}
	
	.header-side { width: 4em; }
	.header-side:first-of-type { text-align: left; text-transform: uppercase; }
	.header-side:last-of-type { text-align: right; }
	@media screen and (width < 700px) {
		.title { order: -1; }
		.header-side { width: 50%; }
		
	}
}

#season-select, ::picker(#season-select) { appearance: base-select; }
#season-select {
	border: none;
  background: var(--dd-blue);
	color: var(--white);
	font-family: "Super Comic", sans-serif;
	text-shadow: .1em .1em var(--dd-blue);
	font-size: max(1rem,min(1.5em,6vw));
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .08em;
	padding: .1em 1em;
  padding: none;
  transition: 0.4s;
	text-align: center;
}
option {
	font-size: .75em;
	color: inherit;
	font-weight: bold;
}

#race-tracks {
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	moz-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
	background: rgba(255,255,255,.8);
	
	border: var(--menu-border) var(--white) solid;
	border-top: none;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	
	padding: 0 2.5% 0 3%;
	
	width: 100%;
	aspect-ratio: 3/2;
	flex-grow: 1;
}

.race-row {
	position: relative;
	text-align: left;
	height: 17%;
	width: 100%;
	&:not(:last-of-type) { margin-bottom: -7%; }
}
.race-row .dots {
	display: inline-block;
	--size: min(8px,max(2px,1.5vw));
	height: calc(50% - (var(--size) / 2));
	border-top: var(--size) var(--d-blue) dotted;
	animation-name: race;
	animation-duration: var(--time);
  animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes race {
	from { width: 0%; }
	to { width: var(--percent); }
}
.race-row .wrapper img {
	width: 100%;
	position: absolute;
	top: 50%; transform: translateY(-50%);
}
.race-row .wrapper {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 25%;
	margin-left: -.5em;
	animation-name: bounce;
	animation-duration: var(--bounce);
  animation-iteration-count: infinite;
}
@keyframes bounce {
	0% { top: -2% }
	50% { top: 2% }
	100% { top: -2% }
}
.race-row.winner .wrapper:after {
	content: '';
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/racer_crown.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	animation-name: crown;
	animation-duration: var(--time);
  animation-fill-mode: forwards;
	animation-name: crown;
	animation-duration: var(--time);
  animation-fill-mode: forwards;
	animation-delay: .3s;
}
@keyframes crown {
	0% { opacity: 0; }
	95% { opacity: 0; }
	100% { opacity: 1; }
}

/******************************************************************************************
	RECENT FEEDINGS
******************************************************************************************/

#activity {
	margin: 1rem auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

#feed-log, #leaderboard {
	flex-shrink: 0;
	height: auto;
	
	.details {
		padding: .25em 0 .75em 0;
	}
	.main-container {
		height: fit-content;
	}
}

#leaderboard {
	width: min(90%, 22rem);
}

#feed-log {
	width: min(90%, 32rem);
	
	.user.registered {
		font-weight: bold;
		color: var(--d-blue);
	}
	
	.worm {
		color: var(--white);
		border-radius: .5em;
		font-size: 1rem;
		font-family: "Super Comic", sans-serif;
	}
}

.feed-log-item, .leaderboard-entry { padding: .2em 1em .2em 1em; }
.feed-log-item:nth-of-type(even), .leaderboard-entry:nth-of-type(even) { background: rgb(var(--blue-rgb),0.15); }

.leaderboard-entry {
	font-size: 1.05em;
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	.rank { width: 1.75em; }
	:last-child {
		flex-grow: 1;
		text-align: right;
	}
}

/* notice for things like empty feed log */
.log-notice, .log-subtitle {
	color: var(--d-blue);
	font-size: 1.15em;
	font-weight: bold;
	text-align: center;
	padding: .6em 1em .2em 1em;
}
.log-subtitle { text-transform: uppercase; padding-top: .25em; }

/******************************************************************************************
	WORM STATS
******************************************************************************************/

/* container div for worm stats */
#worm-stats {
	flex: 1; flex-shrink: 0;
	text-align: center;
	display: flex; flex-flow: row wrap;
	justify-content: center; align-items: center;
	moz-box-sizing: border-box; webkit-box-sizing: border-box; box-sizing: border-box;
	gap: var(--padding);
	min-width: min(90%,max(40%, 400px));
	max-width: 90vw;
}
/* worm stat block */
.worm-stats {
	padding: var(--padding);
	/* put the border/padding inside instead of outside */
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border-radius: 1rem;
	border: max(2px, calc(var(--menu-border)*.75)) var(--white) solid;
	color: var(--white);
	text-align: center;
	font-size: max(.8rem, min(min(1rem, 3vw), 3vh));
	width: max(48%, 9rem);
	max-height: max(20vh, 12rem);
	flex-shrink: 1; flex-grow: 1;
	webkit-box-sizing: border-box; box-sizing: border-box;
	background: var(--diagonal-stripes);
	background-color: var(--bg);
	background-blend-mode: screen;
}
.worm-stats .title {
	text-align: center; text-transform: uppercase;
	letter-spacing: .05em;
	font-family: "Super Comic", sans-serif;
	text-shadow: 2px 3px var(--dd-blue);
	a, a:link, a:visited, a:hover { color: inherit; }
}
.worm-stats .progress {
	font-size: 1.25em;
	margin-top: 0.25em;
}
.worm-stats .progress img {
	margin: 0 0 -.1em .15em;
	height: 1em;
}
.wrapper:has(> .item-stat) {
	display: flex; flex-wrap: wrap;
	justify-content: center;
}
.worm-stats .item-stat {
	max-width: max(2em, min(25%, 8vh));
	aspect-ratio: 1;
	font-size: 1.15em;
	padding: .2em; padding-bottom: 0;
	/* put the border/padding inside instead of outside */
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.worm-stats .item-stat img {
	width: auto; max-width: 100%;
}