/*
<link href="/fonts/DS-Digital/stylesheet.css" rel="stylesheet" type="text/css">
*/

@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DS-Digital/DS-DIGI.ttf');
	font-weight: normal; font-style: normal; }
@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DS-Digital/DS-DIGIB.ttf');
	font-weight: bold; font-style: normal; }
@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DS-Digital/DS-DIGII.ttf');
	font-weight: normal; font-style: italic; }
@font-face {
	font-family: "DS Digital"; font-display: swap; src: url('/fonts/DS-Digital/DS-DIGIT.ttf');
	font-weight: bold; font-style: italic;
}
.txt-dsdigital { font-family: 'DS Digital', 'Courier New', sans-serif; }