body > header {
	font-family: 'Super Comic', sans-serif;
	strong { color: var(--l-blue); }
}

#user-settings {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#details .value {
	font-weight: bold;
	color: var(--green);
}

section.settings-block {
	border: 5px var(--blue) solid;
	border-radius: 10px;
	> header {
		background: var(--blue);
		color: var(--white);
		padding: 0 .5rem .25rem .5rem;
		> h1, h2, h3, h4 { margin: 0; }
	}
	> .content-wrapper {
		padding: .5em .75em;
	}
}

.icon-selections {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.icon-selections .wrapper:has(input[type="radio"]) {
	position: relative;
	width: min(100px, 90%);
	aspect-ratio: 1/1;
	display: inline-block;
	box-sizing: border-box;
	&:hover, &:focus-visible {
		z-index: 2;
		transform: scale(110%);
	}
	&:has(:checked) { z-index: 1; }
}

.icon-selections input[type="radio"] {
	opacity: 0;
	position: absolute;
	width: 100%; height: 100%;
	margin: 0px;
}

.icon-selections input[type="radio"] + label {
	background: var(--d-blue);
}
.icon-selections input[type="radio"]:checked + label {
	background: var(--white);
	outline: 5px solid var(--blue);
	background: var(--l-blue);
}
.icon-selections input[type="radio"] + label {
	border-radius: 50%;
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.icon-selections input[type="radio"], #icon input[type="radio"] + label, img.icon-preview {
	width: 100%; height: 100%;
}

#icon input[type="submit"] {
	width: max(60%, min(300px, 100%));
	position: relative;
	left: 50%; transform: translateX(-50%);
	margin-top: 20px;
}